@section Styles{

}

<div id="app">



    <div v-for="(dataObj,index) in packageTours" :key="id">
        <div class="card mb-2" style="max-width: 1600px;">
            <div class="row g-0">              
                <div class="col-md-12">
                    <div class="card-body">
                        <h5 class="card-title">{{dataObj.description}}</h5>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation" v-for="(attObj, index) in dataObj.packageAttList" :key="attObj.attId">
                                <button class="nav-link"
                                      v-bind:class="{ 'active': index === 0 }"
                                        data-bs-toggle="tab"
                                        :data-bs-target="'#packageTour' + dataObj.id +'attId'+ attObj.attId"
                                        type="button"
                                        role="tab"
                                        >
                                    {{ attObj.attName }}
                               </button>                          
                            </li>                                  
                        </ul>

                        <div class="tab-content " style="max-height: 400px; min-height: 400px; overflow-y:auto; overflow-x:hidden; ">
                            <div v-for="(attObj, index) in dataObj.packageAttList" :key="attObj.attId" class="tab-pane " v-bind:class="{ 'active': index === 0 }" :id="'packageTour' + dataObj.id + 'attId' + attObj.attId" role="tabpanel">
                                <div v-for="(actObj,index) in dataObj.packageActList">
                                    <div v-if="actObj.attId==attObj.attId">
                                        <div class="row">
                                            <div class="col-6 p-1  d-flex justify-content-center align-items-center">
                                                <img v-bind:src="actObj.actImage" style="width: 400px;" />
                                            </div>
                                            <div class="col-6 p-3   justify-content-center align-items-center">
                                                <h4>{{actObj.actName}}</h4>
                                                <p>{{actObj.description}}</p>
                                            </div>
                                        </div>                                                                              
                                    </div>                    
                                </div>
                                <div v-for="(extObj,index) in dataObj.packageExtList">
                                    <div v-if="extObj.attId==attObj.attId">
                                        <div class="row">
                                            <div class="col-6 p-1  d-flex justify-content-center align-items-center">
                                                <img v-bind:src="extObj.extImage" style="width: 400px; " />
                                            </div>
                                            <div class="col-6 p-3   justify-content-center align-items-center">
                                                 <h4>{{extObj.extName}}</h4>
                                                 <p>{{extObj.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" d-flex justify-content-center align-items-center " style="height:400px" v-if="!dataObj.packageExtList.some(extObj=>extObj.attId==attObj.attId)&&!dataObj.packageActList.some(actObj=>actObj.attId==attObj.attId)">
                                    <h3>此景點無綁定項目</h3>
                                </div>
                   

                            </div>              
                        </div>
                        <br />
                        <div style="display: flex; justify-content:center; margin-left:500px">
                            <button class="btn btn-primary " @@click="goToPurchasingPage(dataObj.id)">前往購買</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>

</div>




@section Scripts{
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        let baseAddress = "https://localhost:7251";
        let vueApp = {
            data() {
                return {
                    packageTours:[],                    
                    

                };
            },
            mounted: function () {
                let _this = this;

                _this.getAllPackageToursDto()
            },
            computed: {

            },
            methods: {
                getAllPackageToursDto: function () {
     
                    let _this=this;
                    axios.get(`${baseAddress}/api/PackageToures`).then(response => {
                        _this.packageTours = response.data;
                        console.log(this.packageTours)
                        

         

                    }).catch(err => {
                        alert(err);
                    })
                },
                goToPurchasingPage:function(packageTourId){
                    let newUrl = '/TravelPlans/Details/' + packageTourId
                    window.location.href = newUrl;
                },
               
            }
        };
        let app = Vue.createApp(vueApp).mount('#app');
    </script>
}