@model IEnumerable<RouteMasterFrontend.Models.ViewModels.AttractionVMs.AttractionIndexVM>

<div class="related-attractions my-3 mx-2">
    <h3 style="color:#E4968F"><i class="fa-solid fa-house"></i> 相同縣市</h3>
    <hr>
    <ul>
        @foreach (var attraction in Model)
        {
            <li class="mb-3" onclick="location.href='@Url.Action("Details", new { id = attraction.Id })'"><h5>@attraction.Name</h5></li>
        }
    </ul>
</div>