@model List<RouteMasterFrontend.Models.ViewModels.AttractionVMs.AttractionMapVM>

@section Styles{
    <style>
        .gm-ui-hover-effect {
            display: none;
        }
    </style>
}

<div>
    <h1>地圖</h1>
    <div id="map" style="height: 800px"></div>
</div>


@section Scripts{
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKQwH7ce2rHJCZRoComIh3v7rgxCs0Yfw&callback=initMap"></script>
    <script>

        function redirectToDetails(attractionId) {
            console.log(attractionId)
            var url = '@Url.Action("Details", "Attractions")' + '?id=' + attractionId;
            window.location.href = url;
        }

        function generateStarRatingHtml(score) {
            var fullStars = Math.floor(score);
            var halfStar = score - fullStars >= 0.5;
            var starHtml = '';

            for (var i = 1; i <= 5; i++) {
                if (i <= fullStars) {
                    starHtml += '<i class="fa fa-star" style="color:#f90"></i>';
                } else if (i === fullStars + 1 && halfStar) {
                    starHtml += '<i class="fa fa-star-half-o" style="color:#f90"></i>';
                } else {
                    starHtml += '<i class="fa fa-star" style="color:#ccc"></i>';
                }
            }

            return starHtml;
        }

        function initMap() {
            var mapOptions = {
                center: { lat: 25.03, lng: 121.56 }, // 地圖中心的座標
                zoom: 10 // 地圖的縮放級別
            };

            var map = new google.maps.Map(document.getElementById('map'), mapOptions);
            
            

            var attractions = @Html.Raw(Json.Serialize(Model));

            //console.log(attractions);

            attractions.forEach(function (attraction) {
                //console.log(attraction.positionX)
                //console.log(attraction.name)

                var lat = parseFloat(attraction.positionX);
                var lng = parseFloat(attraction.positionY);

                if (!isNaN(lat) && !isNaN(lng)) {
                    var marker = new google.maps.Marker({
                        position: { lat: lat, lng: lng },
                        map: map,
                        title: attraction.name
                    });

                    var infowindowContent = `
                                    <div style="width:250px;cursor:pointer" onclick="redirectToDetails(${attraction.id})">
                        <h5>${attraction.name} <span class="badge bg-info text-white">${attraction.attractionCategory}</span></h5>
                        <img src="../AttractionImages/${attraction.image}" style="object-fit: cover;width:100%; margin-top:4px">
                                
                <p>
                            ${attraction.score}${generateStarRatingHtml(attraction.score)}(${attraction.scoreCount}) |
                    平均停留${attraction.hours}小時 (${attraction.hoursCount}) |
                    平均花費${attraction.price}元 (${attraction.priceCount})
                </p>
                                
                    </div>
                `;

                    var infowindow = new google.maps.InfoWindow({
                        content: infowindowContent
                    });

                    // 添加 mouseover 事件監聽器
                    marker.addListener('click', function () {
                        infowindow.open(map, marker);
                        
                    });


                    marker.setAnimation(google.maps.Animation.BOUNCE);

                    // 設置彈跳效果時間（例如，2秒後停止彈跳）
                    setTimeout(function () {
                        marker.setAnimation(null);
                    }, 2000);

                    //infowindow.open(map, marker);
                }
            });

        }

        
         
    </script>
}