@model RouteMasterFrontend.Models.ViewModels.Comments_Accommodations.Comments_AccommodationCreateVM

@{
    ViewData["Title"] = "Create";
}

@section Styles{
    <style>
    /*    .panel {
            border: 1px solid #ccc;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
        }*/

            .panel ul {
                display: flex;
               /* justify-content: center;
                padding: 0;
                margin: 0;*/
                list-style: none;
            }

            .panel li {
                cursor: pointer;
            }

                /*請注意, 這三個css 撰寫順序不能亂調整, active最後寫,所以會覆蓋前面二個*/
                .panel li.blank {
                    color: #ccc;
                }

                .panel li.hover {
                color: #ff0;
                }

                .panel li.active {
                color: #f90;
                }

        .tip,
        .result {
            margin-top: 10px;
            font-size: 1.2rem;
        }
    </style>
}



<h4>新增評論</h4>
<hr />
<div class="container">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="panel mb-3">
                    <div class="tip">請點選分數</div>
                    <div class="result"></div>
                    <ul>
                        <li><i class="fa fa-star fa-fw"></i></li>
                        <li><i class="fa fa-star fa-fw"></i></li>
                        <li><i class="fa fa-star fa-fw"></i></li>
                        <li><i class="fa fa-star fa-fw"></i></li>
                        <li><i class="fa fa-star fa-fw"></i></li>
                        <li><i class="fa fa-star fa-fw"></i></li>
                        <li><i class="fa fa-star fa-fw"></i></li>
                        <li><i class="fa fa-star fa-fw"></i></li>
                        <li><i class="fa fa-star fa-fw"></i></li>
                        <li><i class="fa fa-star fa-fw"></i></li>
                    </ul>
                </div>

            <div class="form-group mb-3">
                <label asp-for="MemberId" class="control-label"></label>
                <select asp-for="MemberId" class="form-select" asp-items="ViewBag.MemberId"></select>
                @*<span asp-validation-for="MemberId" class="text-danger"></span>*@
            </div>
            <div class="form-group mb-3">
                <label asp-for="AccommodationId" class="control-label"></label>
                    <select asp-for="MemberId" class="form-select" asp-items="ViewBag.AccommodationId"></select>
                    @*<span asp-validation-for="AccommodationId" class="text-danger"></span>*@
            </div>
            <div class="form-group mb-3 d-none">
                <label asp-for="Score" class="control-label"></label>
                    <input asp-for="Score" class="form-control" id="starValue" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Pros" class="control-label"></label>
                <input asp-for="Pros" class="form-control" />
                <span asp-validation-for="Pros" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Cons" class="control-label"></label>
                <input asp-for="Cons" class="form-control" />
                <span asp-validation-for="Cons" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Images" class="control-label"></label>
                <input type="file" name="file1" class="form-control" multiple="multiple" accept="image/*" />
                
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="建立" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
</div>

<div>
    <a asp-action="Index">返回清單頁</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $(".panel .result").hide();
            // 重設 start class
            $(".panel li")
                // .removeClass("active hover blank")
                .addClass("blank")
                .mouseover(function () {
                    var current = $(this);
                    $(".panel li").each(function (index) {
                        if (index <= current.index()) {
                            $(this).removeClass("blank").addClass("hover");
                        } else {
                            $(this).removeClass("hover").addClass("blank");
                        }
                    });
                })
                .mouseout(function () {
                    $(".panel li").removeClass("hover").addClass("blank");
                })
                .click(function () {
                    var current = $(this);
                    console.log("current.index", current.index());
                    $(".panel li").each(function (index) {
                        if (index <= current.index()) {
                            $(this).removeClass("blank").addClass("active");
                        } else {
                            $(this).removeClass("hover active").addClass("blank");
                        }
                    });
                    $(".panel .tip").hide();
                    var points = current.index() + 1;
                    $(".panel .result").show().text(`您選擇了 ${points} 分`);
                    $("#starValue").val(points);




                })






        });
    </script>


}
