
  
    

<div id="dec">
    <div class="container">
        <div class="row mb-2" style="width:20%">
            <a asp-controller="Comments_Accommodation" asp-action="Create">Create New</a>
            <label for="commentOrder">排序選擇:</label>
            <select v-model="selected" id="commentOrder" class="ms-3" @@change="commentDisplay">
                <option value="0" selected>請選擇</option>
                <option value="1">最新留言</option>
                <option value="2">星星評分高至低</option>
                <option value="3">星星評分低至高</option>
            </select>
          
        </div>
        <div v-for="(item, index) in indexVM" :key="index" class="card mb-3">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-header">{{item.account}}</div>
                    <div class="card-body">
                        <div class="d-flex">
                            <h4 class="card-title me-auto">標題: {{item.title}}</h4>
                            <div>{{item.status}}</div>
                        </div>
                        <p class="card-text">{{item.id}}</p>
                        <p class="card-text">{{item.hotelName}}</p>
                        <p class="card-text">優點: {{item.pros}}</p>
                        <p class="card-text">缺點: {{item.cons}}</p>
                        <p class="card-text">{{item.score}}</p>
                        <div class="d-flex">
                            <p class="card-text me-auto"><i class="fa-solid fa-thumbs-up fa-lg"></i> {{item.totalThumbs}}</p>
                            <p><small class="text-muted">{{item.createDate}}</small></p>
                        </div>
                        
                        <hr />
                        <button type="button" v-html="thumbicon[index]" @@click="likeComment(item.id)" class="btn btn-outline-dark me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="按讚">
                                
                        </button>
                       
                        <template v-if="item.status===isReplyed">
                            <button type="button" class="btn btn-primary position-relative" data-bs-toggle="collapse"
                                    :data-bs-target='"#collapseExample"+index' @@showReply(item.id)>
                                看回覆訊息
                            </button>
                            <div class="collapse mt-3" :id='"collapseExample" + index'>
                                <div class="card card-body">
                                    <h5>來自{{item.hotelName}}的回覆:</h5>
                                    <p>{{item.replyMessage}}</p>
                                    <p class="card-text text-end"><small class="text-muted">{{item.replyDate}}</small></p>
                                </div>
                            </div>
                        </template>                                             
                    </div>
                </div>
                <div class="col-md-4">
                    <template v-if="item.imageList.length>1">
                        <div :id='"carousel" + index' class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner w-100 mx-auto my-auto">
                                <div :class="{ 'carousel-item': true, 'active': num === 0 }" v-for="(photo,num) in item.imageList" :key="num">
                                    <img v-bind:src="getImgPath(photo)" class="d-block w-100">
                                </div>
                  
                            </div>
                            <button class="carousel-control-prev" type="button" :data-bs-target='"#carousel"+ index' data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" :data-bs-target='"#carousel"+ index' data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>    
                    </template>                    
                    <template v-else>
                        <img src="~/MemberUploads/RouteMaster.png" class="img-fluid rounded-start">
                    </template>                   
                </div>
            </div>
        </div>
    </div>
  </div>




   @* <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/ad2e9fef09.js" crossorigin="anonymous"></script>*@
@*<script src="~/js/Comments_AccommodationPartial.js"></script>*@

   @* <script>
       
       
    </script>*@
