
@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <style>
       .card-body button{
           background-color:lightseagreen;
            border-color: lightseagreen;
            color:white;
       }

        #pills-hot-tab:focus,
        #pills-home-tab:focus,
        #pills-profile-tab:focus,
        #pills-contact-tab:focus,
        #pills-about-tab:focus,
        .modal-header,
        .nav-pills .nav-link.active {
            background-color: lightseagreen;
            color:white !important;
        }

        #pills-hot-tab,
        #pills-home-tab,
        #pills-profile-tab,
        #pills-contact-tab,
        #pills-about-tab
        {
            color: lightseagreen;
        }

    </style>
    
}


<div id="app">
    <div class="container">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-hot-tab" data-bs-toggle="pill" data-bs-target="#pills-hot" type="button" role="tab" aria-controls="pills-hot" aria-selected="true" @@click="filterTopFive">Top5</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true" @@click="showMe(cate[0])">{{cate[0]}}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" @@click="showMe(cate[1])">{{cate[1]}}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false" @@click="showMe(cate[2])">{{cate[2]}}</button>
            </li>
            <li class="nav-item me-3" role="presentation">
                <button class="nav-link" id="pills-about-tab" data-bs-toggle="pill" data-bs-target="#pills-about" type="button" role="tab" aria-controls="pills-about" aria-selected="false" @@click="showMe(cate[3])">{{cate[3]}}</button>
            </li>
            <li class="nav-item" role="presentation">
                <input class="form-control me-auto" placeholder="搜尋關鍵字" aria-label="Search" v-model="filter" @@keyup="getQuestion">
            </li>

        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-hot" role="tabpanel" aria-labelledby="pills-hot-tab">
                <div class="card mb-3 border-danger" v-for="(item,index) in qList" :key="item.id" style="width:1100px;">
                    <h5 class="card-header border-danger">{{item.categoryName}}</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{item.question}}</h5>                     
                        <p class="card-text mb-2"><i class="fa-solid fa-thumbs-up fa-lg"></i> {{item.helpful}}</p>
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modaltarget" @@click="showModal(item.id)">
                            快告訴我
                        </button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="card mb-3 border-danger" v-for="(item,index) in qList" :key="item.id" style="width:1100px;">
                    <h5 class="card-header border-danger">{{item.categoryName}}</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{item.question}}</h5>                      
                        <p class="card-text mb-2"><i class="fa-solid fa-thumbs-up fa-lg"></i> {{item.helpful}}</p>                       
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modaltarget" @@click="showModal(item.id)">
                            快告訴我
                        </button>
                    </div>                   
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="card mb-3 border-danger" v-for="(item,index) in qList" :key="item.id" style="width:1100px;">
                    <h5 class="card-header border-danger">{{item.categoryName}}</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{item.question}}</h5>
                        <p class="card-text mb-2"><i class="fa-solid fa-thumbs-up fa-lg"></i> {{item.helpful}}</p>
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modaltarget" @@click="showModal(item.id)">
                            快告訴我
                        </button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="card mb-3 border-danger" v-for="(item,index) in qList" :key="item.id" style="width:1100px;">
                    <h5 class="card-header border-danger">{{item.categoryName}}</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{item.question}}</h5>
                        <p class="card-text mb-2"><i class="fa-solid fa-thumbs-up fa-lg"></i> {{item.helpful}}</p>
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modaltarget" @@click="showModal(item.id)">
                            快告訴我
                        </button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab">
                <div class="card mb-3 border-danger" v-for="(item,index) in qList" :key="item.id" style="width:1100px;">
                    <h5 class="card-header border-danger">{{item.categoryName}}</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{item.question}}</h5>
                        <p class="card-text mb-2"><i class="fa-solid fa-thumbs-up fa-lg"></i> {{item.helpful}}</p>
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modaltarget" @@click="showModal(item.id)">
                            快告訴我
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modaltarget" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modaltargetLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fw-bold" id="modaltargetLabel">{{question}}</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" @@click="updatethumbs(qnumber,thumbsUp)"></button>
                    </div>
                    <div class="modal-body">
                       <p class="fs-5 fw-normal mb-2">{{answer}}</p>
                        <img v-if="img" :src=`../MemberUploads/${img}` class="img-fluid">
                    </div>
                    <div class="modal-footer justify-content-start">
                        <span>是否有幫助</span>
                        <button type="button" class="btn" v-html="thumbicon" @@click="switchicon(qnumber)"></button>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>






@section Scripts{
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/ad2e9fef09.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        var vueApp = {
            data() {
                return {
                    qList: [],
                    cate: ["行程", "住宿", "訂單", "帳號"],
                    cateInput: null,
                    filter: "",
                    question:"",
                    answer:"",
                    qnumber:0,
                    img:"",
                    thumbsUp:false,
                    origScore:0,
                    thumbicon:"",
                   
                    
                }
            },
            mounted: function () {
                let _this = this;
                _this.getQuestion();
            },          
            methods: {             
                getQuestion: async function () {
                    let _this = this;
                    var data = {};
                    data.Name = _this.cateInput;
                    data.Keyword = _this.filter;

                    const response = await fetch("https://localhost:7145/FAQ/Search", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(data)
                    });

                    if (response.ok) {
                        let _this = this;
                        
                        _this.qList = await response.json();

                        console.log(_this.qList);
                        
                    }

                    else {
                        console.log("error");
                    }

                },
                filterTopFive:function(){
                    let _this = this;
                    _this.cateInput=null;
                    _this.getQuestion();
                },
                showMe: function (msg) {
                    let _this = this;
                    
                    _this.cateInput = msg;
                    _this.getQuestion();
                   
                },
                showModal:function(id){
                    console.log(id);
                    let _this=this;
                    _this.thumbsUp=false;
                    _this.thumbicon = '<i class="fa-regular fa-thumbs-up fa-lg"></i>';
                    //_this.thumbicon = _this.thumbsUp ? '<i class="fa-solid fa-thumbs-up fa-lg"></i>' : '<i class="fa-regular fa-thumbs-up fa-lg"></i>';
                    for(let i=0;i<_this.qList.length;i++){
                        var qa = _this.qList[i];
                        if(qa.id==id){
                            _this.question = qa.question;                          
                            _this.answer = qa.answer;
                            _this.qnumber = qa.id;
                            _this.img = qa.image;
                            var num = _this.origScore+1;                         
                            if (_this.origScore != 0 && num== qa.helpful) {
                                _this.thumbicon = '<i class="fa-solid fa-thumbs-up fa-lg"></i>';
                            }
                            
                          

                        }
                    }
                },
                switchicon:function(id){
                    let _this = this;
                    for (let i = 0; i < _this.qList.length; i++) {
                        var qa = _this.qList[i];
                        if (qa.id == id) {
                            _this.origScore = qa.helpful;
                            
                        }
                    }
                    _this.thumbsUp = true;
                    _this.thumbicon = '<i class="fa-solid fa-thumbs-up fa-lg"></i>';

                    Swal.fire({
                        position: 'top',
                        icon: 'success',
                        title: '感謝您的意見回饋',
                        showConfirmButton: false,
                        timer: 1000
                    })
                    
                    console.log(id);
                },
                updatethumbs: async function(id, plus){
                    let _this = this;   
                    if(plus){
                        var uri = `https://localhost:7145/FAQ/UpdateHelpful?faqId=${id}`;
                        const response = await fetch(uri, {
                            method: "POST",

                        });
                        if (response.ok) {
                            var result = await response.text();
                            console.log(result);
                            _this.cateInput = result;
                            _this.getQuestion();
                        }
                        else {
                            console.error('Error:', response.status);
                        }

                    }
                   
                }


            }
        }

        var app = Vue.createApp(vueApp).mount("#app");


    </script>

    }
