@model RouteMasterFrontend.EFModels.Member
@{
    ViewData["Title"] = "Edit";
}
@{
    var memberIdCookie = Context.Request.Cookies["Id"];
}


<style>
    .row{
     /*   display:flex;
        justify-content:center;*/
    }
    /*div{
        margin:10px 0px;
    }*/
    .form-control{
        width:300px;
    }

    .container #editInfo {
        background: #A6FFFF;
    }

        .container #editInfo:hover {
            background: #FFBFBF;
            color: #FAFAFA;
            border-radius: 5px;
            box-shadow: 0 0 5px #FFCF78, 0 0 25px #FFCF78,
            /*0 0 40px #30FFFF,
            0 0 60px #00F5F5;*/
        }
</style>

<div class="container">
    <div class="row">
   
        <div class="col-md-8" id="EditMember">          
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div >
                    <label>帳戶名稱：</label>                    
                    <input asp-for="Account" id="Account" class="form-control"  disabled/>
                    <span asp-validation-for="Account" class="text-danger"></span>
                </div>
                <div>
                    <label>註冊信箱：</label>
                    <input asp-for="Email" id="Email" class="form-control" disabled/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div >
                    <label>名：</label>
                    <input asp-for="FirstName" id="FirstName" class="form-control" style="justify-items:end" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div >
                    <label>姓：</label>
                    <input asp-for="LastName" id="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div >
                    <label>電話：</label>
                <input asp-for="CellPhoneNumber" id="CellPhoneNumber" class="form-control" pattern="[0-9]{10}" maxlength="10" />
                    <span asp-validation-for="CellPhoneNumber" class="text-danger"></span>
                </div>
                <div >
                    <label>住址：</label>
                    <input asp-for="Address" id="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>                
                <div >
                    <label>性別：</label>
                    <input asp-for="Gender" id="Gender" class="form-control" value="@((Model.Gender == false) ? "男性" : "女性")" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div >
                    <label>生日：</label>
                    <input asp-for="Birthday" id="Birthday" class="form-control" type="date"/>
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>
                
                <div >
                <input type="button"  value="更改資料" class="btn" id="editInfo" />
                @*<button type="button" class="btn btn-danger" id="editInfo">更改資料</button>*@
                </div>           
        </div>

    </div>
</div>



    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    //document.addEventListener('DOMContentLoaded', function () {
    //    var addressInput = document.querySelector('#Address');
    //    if (addressInput) {
    //        var originalValue = addressInput.value;
    //        var truncatedValue = originalValue.substring(0, 3); // 截取前三个字
    //        addressInput.value = truncatedValue;
    //    }
    //});
        document.querySelector('#editInfo').addEventListener('click',function(){
          
            var dto =  {
                account: document.querySelector('#Account').value,
                firstName: document.querySelector('#FirstName').value,
                lastName: document.querySelector('#LastName').value,
                email: document.querySelector('#Email').value,
                cellPhoneNumber: document.querySelector('#CellPhoneNumber').value,
            address: document.querySelector('#Address').value,
                gender: document.querySelector('#Gender').value === "男性" ? false : true,
                birthday: document.querySelector('#Birthday').value,
                
            }
            
            console.log(dto);
            $.ajax({
                 type:"PUT",
                 data:dto,
                 //contentType:"application/json",
                url: "https://localhost:7145/Members/MemEdit",
            }).done(function(response){
            swal("更改成功!", "請按返回繼續使用", "success", { button: "返回" });
                //if (response.success) {
                //    alert("更改資料成功");
                //    var memberArea = $("#memberNavbar");
                //    memberArea.html(response);
                //} else {
                //    alert("更改資料失败：" + response.message);
                //}
            }).fail(function(error){
                console.log("失败", error);
            });

        });


        
    
    </script>

