@model RouteMasterFrontend.Models.ViewModels.Members.MemberForgetPasswordVM

@{
    ViewData["Title"] = "MemberForgetPassword";
}
@section Styles{
    <style>
        .row{
            justify-content:center;
        }

        .formRegist {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
       
        .form-group{            
            margin-bottom: 25px;
            width: 200px;
        }

        .radio-container {
            display: inline-flex;
            gap: 10px;
        }

        .buttons{
            display:flex;
            justify-content: space-between;
            align-items: center;
            width: 300px;
        }
        .form-group .btn {
            flex: initial;
            margin-right:  5px;
        }

        .form-control {
            width: 250px; 
        }
    </style>
    }

<hr />
<div class="row">
    <h4>忘記密碼</h4>
    <div class="col-md-4">
        <form asp-action="MemberForgetPassword" id="submitForm" class="formRegist">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>註冊帳號</label>
                <input asp-for="Account" class="form-control"/>
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>註冊信箱</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <div class="buttons">
                <input type="submit" value="申請更改" class="btn btn-primary"/>
                <a  asp-action="MemberLogin" class="btn btn-danger">取消</a>
                  <button type="button" class="btn btn-outline-secondary" id="quickLogin">Demo</button>
                </div>
            </div>                       
        </form>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
           
            var accountInput = document.querySelector('input[name="Account"]');
            var emailInput = document.querySelector('input[name="Email"]');
            var demoButton = document.getElementById("quickLogin");


            var demoAccount = "RouteMaster";
            var demoEmail = "routemasterdemo@gmail.com";

            
            demoButton.addEventListener("click", function () {
                accountInput.value = demoAccount;
                emailInput.value = demoEmail;
            });
        });
    </script>

}
