@model RouteMasterFrontend.Models.ViewModels.Members.MemberLoginVM
@{
    Layout = "";
    ViewData["Title"] = "MemberLogin";
}
<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <style>
        *, *:before, *:after {
            box-sizing: border-box;
        }

        body {
            max-height: 100%;
            max-width: 100%;
            font-family: "Raleway", sans-serif;
            overflow: hidden;
        }

        .container {
            top: 0;
            left: 0;
            position: absolute;
            width: 100% !important;
            max-width: 100% !important;
            height: 100%;
            overflow: hidden;
        }


            .container:hover .top:before, .container:hover .top:after, .container:hover .bottom:before, .container:hover .bottom:after, .container:active .top:before, .container:active .top:after, .container:active .bottom:before, .container:active .bottom:after {
                margin-left: 300px;
                transform-origin: -300px 50%;
                transition-delay: 0s;
            }

            .container:hover .center, .container:active .center {
                opacity: 1;
                transition-delay: 0.2s;
            }

        .top:before, .top:after, .bottom:before, .bottom:after {
            content: "";
            display: block;
            position: absolute;
            width: 200vmax;
            height: 200vmax;
            top: 50%;
            left: 50%;
            margin-top: -100vmax;
            transform-origin: 0 50%;
            transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
            z-index: 10;
            opacity: 0.65;
            transition-delay: 0.2s;
        }

        .top:before {
            transform: rotate(45deg);
            background: #FFBB66;
        }

        .top:after {
            transform: rotate(135deg);
            background: #FFBB66;
        }

        .bottom:before {
            transform: rotate(-45deg);
            background: #FFBFBF;
        }

        .bottom:after {
            transform: rotate(-135deg);
            background: #A6FFFF;
        }

        .center {
            position: absolute;
            width: 400px;
            height: 400px;
            top: 50%;
            left: 50%;
            margin-left: -200px;
            margin-top: -200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px;
            opacity: 0;
            transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
            transition-delay: 0s;
            color: #333;
        }

            .center input {
                width: 200px;
                padding: 15px;
                margin: 5px;
                border-radius: 10px;
                border: 1px solid #ccc;
                font-family: inherit;
            }

        .container #loginBtn {
            background: #A6FFFF;
        }

            .container #loginBtn:hover {
                background: #FFBFBF;
                color: #FAFAFA;
                border-radius: 5px;
                box-shadow: 0 0 5px #FFCF78, 0 0 25px #FFCF78,
                /*0 0 40px #30FFFF,
                0 0 60px #00F5F5;*/
            }


        .container .logo img {
            width: 240px;
            height: 120.786369593709px;
        }

        .g_id_signin {
            margin-top: 10px;
        }

        .ckeckEye {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }

        .btn-outline-secondary{
            margin-top:10px;
        }

        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div class="container" onclick="onclick">
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="center">

            <div class="logo">
                <a href="https://localhost:7145"><img src="~/SystemImages/Route-master-logo-black_0.png" /></a>
            </div>
            <h2>旅程起點</h2>
            <form asp-action="MemberLogin" method="post" class="p-3" id="loginForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating form-group d-flex align-items-center mb-3">
                    @*<span class="far fa-user"></span>*@
                    <input asp-for="Account" class="form-control" id="Account" placeholder="Account" /><br />
                    <label for="Account">帳號</label>
                    <span asp-validation-for="Account" class="text-danger"></span>
                </div>
                <div class="form-floating form-group d-flex align-items-center mb-3">
                    @*<span class="fas fa-key"></span>*@
                    <input asp-for="Password" class="form-control" id="Password" placeholder="Password" /><br />
                    <label for="Password">密碼</label>
                    <i id="checkEye" class="fa-solid fa-eye-slash"></i>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <input type="submit" value="登入" id="loginBtn" class="btn" />

            </form>
            <div class="text-center fs-6">
                <a asp-action="MemberRegister" class=" btn btn-warning ">註冊會員</a> or
                <a asp-action="MemberForgetPassword" class="btn btn-success">忘記密碼?</a>
            </div>
            <div id="g_id_onload"
                 data-client_id="161026089487-tl7dobkpg2r05cnahqrho3af1vdjn33q.apps.googleusercontent.com"
                 data-login_uri="https://localhost:7145/Members/GoogleLogin"
                 data-auto_prompt="false">
            </div>
            <div class="g_id_signin"
                 data-type="icon"
                 data-size="large"
                 data-theme="outline"
                 data-text="sign_in_with"
                 data-shape="pill"
                 data-logo_alignment="left">
            </div>

            <div>
                <button type="button" class="btn btn-outline-secondary" id="quickLogin">Demo Account</button>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>

    $(document).ready(function () {
        $('#loginForm').submit(function (event) {
            event.preventDefault();

            const formData = {
                Account: $('#Account').val(),
                Password: $('#Password').val()
            };

            fetch("https://localhost:7145/Members/MemberLogin", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    if (data.success) {
                        window.location.href = 'https://localhost:7145/Home/Index';
                    } else {
                        //alert('帳密錯誤', '請再試一次', 'error')
                        swal("帳密錯誤!", "請再試一次!", "error", { button: "返回" });
                    }
                })
                .catch(error => {
                    console.error('An error occurred:', error);
                });
        });
    });

    document.addEventListener("DOMContentLoaded", function () {

        const form = document.getElementById("loginForm");
        const quickLogin = document.getElementById("quickLogin");

        quickLogin.addEventListener("click", function () {

            const defaultData = {

                Account: "Huan",
                Password: "123"

            };

            //跑過每一個屬性並賦值
            for (const field in defaultData) {
                if (defaultData.hasOwnProperty(field)) {
                    const inputField = form.querySelector(`[name="${field}"]`);
                    if (inputField) {
                        inputField.value = defaultData[field];
                    }
                }
            }

            //Gender
            const radioButtons = document.querySelectorAll('input[type="radio"][name="Gender"]');
            radioButtons.forEach(radioButton => {
                if (radioButton.value === "true") {
                    radioButton.checked = true;
                }
            });

            //Address
            const selectElement = document.getElementById('region');
            selectElement.value = "臺北市";
            //for (let i = 0; i < selectElement.options.length; i++) {
            //    if (selectElement.options[i].value === "臺北市") {
            //        selectElement.selectedIndex = i;

            //        break;
            //    }
            //}


        });
    });


    var checkEye = document.getElementById("checkEye");
    var floatingPassword = document.getElementById("Password");
    checkEye.addEventListener("click", function (e) {
        if (e.target.classList.contains('fa-eye-slash')) {

            e.target.classList.remove('fa-eye-slash');
            e.target.classList.add('fa-eye');
            floatingPassword.setAttribute('type', 'text')
        } else {
            floatingPassword.setAttribute('type', 'password');
            e.target.classList.remove('fa-eye');
            e.target.classList.add('fa-eye-slash')
        }
    });
</script>

