

<form asp-action="UploadSystemImages" enctype="multipart/form-data">
<p>上傳多張圖片</p>
<input type="file" name="files" multiple="multiple" accept="image/*" />

 <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
</form>