
<style>

    .cart-icon-link {
        display: inline-block;
        font-size: 20px;
        color: #333;
        text-decoration: none;
    }

    .cart-icon {
        font-size: 24px;
    }

    .cart-icon-link:hover {
        color: #007bff;
    }

    .dropdown-cart {
        position: relative;
        display: inline-block;
    }

    .dropdown-cart-content {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        width: 430px;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        max-height:700px;
        overflow-y:auto;
    }

    .dropdown-cart:hover .dropdown-cart-content {
        display: block;
    }

    .dropdown-cart-item {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dropdown-cart-item:last-child {
        border-bottom: none;
    }

    .dropdown-cart-footer {
        padding: 10px;
        text-align: center;
        background-color: #f9f9f9;
    }

    .view-cart-button {
        margin-top: 10px;
    }
</style>

@*<div class="dropdown">
    <a id="CartDropDown" class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span>購物車</span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="CartDropDown">
        <li id="cartItemsContainer">
            <div class="partial-view-container">
                @await Component.InvokeAsync("ExtraServicesDetails", new { cartid = 1 })
            </div>
        </li>
    </ul>
</div>*@

<script src="https://kit.fontawesome.com/c3bf7d3bbb.js" crossorigin="anonymous"></script>

@if (User.Identity.IsAuthenticated)
{
    <div class="dropdown-cart">
        <a id="cartOpen" class="cart-icon-link nav-link" href="#">
            <i class="fas fa-shopping-cart cart-icon"></i>
        </a>
        <div class="dropdown-cart-content">
            
                <div class="dropdown-cart-item py-0">@await Component.InvokeAsync("ExtraServicesDetails", new { ViewBag.CartId })</div>
                <div class="dropdown-cart-item py-0">@await Component.InvokeAsync("ActivitiesDetails", new { ViewBag.CartId })</div>
                <div class="dropdown-cart-item py-0">@await Component.InvokeAsync("AccomodationDetails", new { ViewBag.CartId })</div>
            
            <div class="dropdown-cart-footer">
                <button class="btn btn-secondary view-cart-button" onclick="window.location.href='/Carts/Index'">
                    <i class="fas fa-shopping-cart"></i> 查看購物車
                </button>
            </div>
        </div>
    </div>
}
