
.zoomIn {
    cursor: zoom-in;
    width: 80px;
    height: 80px;
}

.lastImg {
    opacity: 0.5;
}


.input-group input[readonly] {
    background-color: white;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type="range"] {
    height: 30px;
    width: 200px;
    cursor: pointer;
    outline: none;
    border: 3px solid #28a745;
    margin-top: 5px;
}

    input[type="range"]::-webkit-slider-runnable-track {
        height: 6px;
        width: 200px;
        border-radius: 4px;
        background: linear-gradient(to right, #FF9797 0%, #FF9797 calc(var(--percentage) * 100%), #d3d3d3 calc(var(--percentage) * 100%), #d3d3d3 100%);
        position: relative;
    }

input[type="range"]::-webkit-slider-thumb{
    position: relative;
    height: 16px;
    width: 16px;
    margin-top: -5px;
    background-color: #4285F4;
    border-radius: 50%;
    z-index: 2;

}
    .number-input {
        margin-left: 10px;
        width: 65px;
    }

.warnShow {
    color: red;
    font-size: 1.2em;
}
